<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{!-- using partial: >, then name of the partial file, then object to pass to the partial --}}
        {{> post-info post}}
    </li>
    {{/each}}
</ol>